server:
  port: 8080

spring:
  datasource:
    url: jdbc:postgresql://${DB_HOST:${DB_HOST:localhost}}:${DB_PORT:5432}/${DB_NAME:stockdb}
    username: ${DB_USER:stock}
    password: ${DB_PASS:stock123}
  jpa:
    hibernate:
      ddl-auto: validate
    open-in-view: false
    properties:
      hibernate:
        format_sql: true
  flyway:
    enabled: true

app:
  jwt:
    secret: ${JWT_SECRET}
    accessMinutes: ${JWT_EXPIRES_SECONDS:3600}
    issuer: ${JWT_ISSUER}
